In [1]:
import pandas as pd

In [3]:
bike_df = pd.read_excel('capstone1/data/Final_Bike_Collision_Database.xlsx')
bike_df.head()

,ID,YEAR,DATE,DAY_WEEK,TIME,TYPE,SOURCE,XFINAL,Xkm,YFINAL,...,TaxiFinal,hitrunfina,AlcoholFin,INJURED,TRANSPORTE,TREATED,GENDER,ETHNICITY,AGE,Narrative
0,B1001,2009.0,2009-01-09,Friday,14:24:59.962000,BVA,E911,758540.606275,231203.176793,2.953409e+06,...,0.0,0.0,0.0,1.0,0.0,0.0,MALE,WHITE NON-HISPANIC,NaN,"About xxxx hrs, on Friday, xxxxxxxx, Officer H..."
1,B1002,2009.0,2009-01-23,Friday,16:43:59.981000,BVA,ON-SITE,754177.666510,NaN,2.954071e+06,...,0.0,0.0,0.0,1.0,0.0,0.0,MALE,WHITE NON-HISPANIC,47.0,ABOUT xxxxx OFFICER xxxxxx ASSIGNED TO THE xxx...
2,B1003,2009.0,2009-01-25,Sunday,12:45:00,BVA,E911,767665.919501,233984.572264,2.945063e+06,...,0.0,0.0,0.0,1.0,1.0,1.0,MALE,BLACK NON-HISPANIC,72.0,"AT APPROXIMATELY xxxxxxx OFFICER LAMB,xxxxx, R..."
3,B1004,2009.0,2009-02-05,Thursday,05:05:00.038000,BVA,E911,785131.513067,239308.085183,2.964483e+06,...,0.0,0.0,0.0,1.0,1.0,1.0,MALE,WHITE NON-HISPANIC,61.0,"About xxxxxx on Thursday, xxxxxxxxxx, Officer ..."
4,B1005,2009.0,2009-02-08,Sunday,08:37:00.019000,BVA,E911,774375.486713,236029.648350,2.952010e+06,...,0.0,0.0,0.0,0.0,0.0,0.0,MALE,BLACK NON-HISPANIC,48.0,About xxxx hrs on xxxxxx xxxxxx Officer xxxx a...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1803,B2815,NaN,NaT,NaN,NaN,NaN,E911,761171.822976,232005.171643,2.946305e+06,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,About xxxx p.m. on xxxxxxxx Officers xxxxx and...
1804,B2817,2012.0,2012-10-05,NaN,18:45:00,NaN,WALK-IN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,xxxxxx responded to radio call on report of pe...
1805,B2818,2012.0,2012-10-20,NaN,19:53:00,NaN,E911,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1806,B2819,NaN,NaT,NaN,NaN,NaN,E911,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"About xxxxxx on Thursday, xxxxxxxx, Officer xx..."
1807,B2820,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"About xxxx hours on Thursday xxxxxxxxxx, Offic..."

In [4]:
car_df = pd.read_csv('capstone1/data/US_Accidents_Dec19.csv')
car_df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day